    <!-- Page Content -->
    <div class="container">
      <h1 class="mt-5" style="text-align:center;">Efrat's Car Rental</h1>
	  <h2 class= "mt-5" style="text-align:center;"> Enter Branch  </h2>
		<div style="text-align:center">
			<select>
				<option value="Select One Branch"> Select One Branch </option>
				<option value="branch 2">Branch 1</option>
				<option value="branch 3">Branch 2</option>
				<option value="branch 4">Branch 3</option>
			</select>
		</div>
		
		<table style="width:100%; margin-top:40px;">
		  <tr>
			<th style="padding: 5px; text-align:center;">Manufacture Name</th> 
			<th style="padding: 5px; text-align:center;">Model</th>
			<th style="padding: 5px; text-align:center;">Cost/Day</th>
			<th style="padding: 5px; text-align:center;">Delay Cost/Day</th>
			<th style="padding: 5px; text-align:center;">Gere</th>
			<th style="padding: 5px; text-align:center;">Year of Product</th>
			<th style="padding: 5px; text-align:center;">Branch</th>
			<th style="padding: 5px; text-align:center;">Image</th>

		  </tr>

		  	  
		  <tr>
			<td style="padding: 5px; text-align:center;"> Subaro </td>
			<td style="padding: 5px; text-align:center;"> Impreza </td>
			<td style="padding: 5px; text-align:center;"> 230 </td>
			<td style="padding: 5px; text-align:center;"> 280 </td>
			<td style="padding: 5px; text-align:center;"> Manual</td>
			<td style="padding: 5px; text-align:center;"> 2007 </td>
			<td style="padding: 5px; text-align:center;"> Branch 1 </td>
			<td style="padding: 5px; text-align:center;"> <a href="placeAnOrder.html"></a> <img src="assets/images/subaro-impresa.png" alt="" border=3 height=100 width=250/> </td>			
		  </tr>

		  
		  <tr>
			<td style="padding: 5px; text-align:center;"> Mercedes </td>
			<td style="padding: 5px; text-align:center;"> Benz </td>
			<td style="padding: 5px; text-align:center;"> 300</td>
			<td style="padding: 5px; text-align:center;"> 350 </td>
			<td style="padding: 5px; text-align:center;"> Auto </td>
			<td style="padding: 5px; text-align:center;"> 2016</td>
			<td style="padding: 5px; text-align:center;"> Branch 1 </td>
			<td style="padding: 5px; text-align:center;"> <a href="placeAnOrder.html"> </a><img src="assets/images/mercedes-benz.png" alt="" border=3 height=100 width=250/> </td>			
		  </tr>
		  
		  
		  <tr>
			<td style="padding: 5px; text-align:center;"> Suzuki</td>
			<td style="padding: 5px; text-align:center;"> Wagon R </td>
			<td style="padding: 5px; text-align:center;"> 17</td>
			<td style="padding: 5px; text-align:center;"> 20 </td>
			<td style="padding: 5px; text-align:center;"> Auto </td>
			<td style="padding: 5px; text-align:center;"> 2018</td>
			<td style="padding: 5px; text-align:center;"> Branch 1 </td>
			<td style="padding: 5px; text-align:center;"> <a href="placeAnOrder.html"></a> <img src="assets/images/wagon-r.png" alt="" border=3 height=100 width=250/> </td>			
		  </tr>
		</table>
		
	  
	  
    </div>
   

